@font-face {
   font-family: 'Minecrafter.Reg';
   font-display: swap;
   src: url('file:///C:/Users/tomas/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-04-05_181116/fonts/Minecrafter.Reg/font.ttf');
}
